* {
    box-sizing: border-box;

}

body {
    margin: 0;
    min-width: 320px;
}

header {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ccc;
}

/*
####################
### início menu ####
####################
*/

.menu a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
  
.menu a:hover {
    opacity: 0.7;
}

.menu .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0px 8px;
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: blue;
    height: 8vh;
}
  
.menu .nav-list {
    list-style: none;
    display: flex;
}

.menu .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.menu .mobile-menu {
    display: none;
    cursor: pointer;
}
  
.menu .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {

.menu .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: blue;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
}
.menu .nav-list li {
    margin-left: 0;
    opacity: 0;
}
.menu .mobile-menu {
    display: block;
}
}
  
.menu .nav-list.active {
    transform: translateX(0);
}
  
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
  
.menu .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu .mobile-menu.active .line2 {
    opacity: 0;
}

.menu .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*
#######################
#### início slider ####
#######################
*/

.slider {
    flex: 1;
    overflow: hidden;
}

.slider--controls {
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider--control {
    position: relative;
    color: white;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.658);
    overflow: hidden;
    cursor: pointer;
    font-size: 1.3pc;
    font-weight: bolder;
}

.slider--width {
    height: 100%;
    display: flex;
    transition: all ease 0.5s;
}

.slider--item {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
}


/* 
#########################
## Aqui acaba o slider ##
#########################
*/


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.h1, h1 {
    font-size: 2.5rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



.sobre_nos {
    display: flex;
}

.sobre_nos .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.sobre_nos .sobre_container {
    position: relative;
    width: 70%;
    padding: 0px 50px 0px 0px;
}

.sobre_nos .sobre_img {
    margin-top: 100px;
    width: 100%;
    position: relative;
    max-width: 50%;
}

.sobre_nos .sobre_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    max-height: 768px;
}

.sobre_nos .sobre_container .sobre_title {
    margin: 50px 0px 0px 0px;
    color: orangered;
}

.sobre_nos .sobre_container .sobre_title h1 p {
    display: inline-block;
    font-size: 32px;
    margin: 0;
    
}

.sobre_nos .sobre_container .sobre_title h1 {
    font-family: 'adelle_sans', sans-serif;
    font-style: italic;
    font-weight: 900;
    margin: 0;
    word-spacing: 0;
}

.sobre_nos .sobre_container .sobre_title h1 span {
    font-size: 48px;
    line-height: 100%;
    color: #30B7EF;
    text-transform: uppercase;
    display: block;
}

.botoes {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.botoes button {
    display: flex;
    max-width: 250px;
    height: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: yellow;
    padding: 0px 10px;
    border-radius: 5px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    color: blue;
    transition: 0.7s;
}

.botoes a {
    align-items: center;
    display: flex;
    height: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: yellow;
    padding: 0px 10px;
    border-radius: 5px;
    margin: 40px 0px 0px 10px;
    color: blue;
    text-decoration: none;
    transition: 0.7s;
}

.botoes button:hover, .botoes a:hover {
    background-color: blue;
    color: white;
    text-decoration: underline;
}

.ensino_infantil {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.ensino_infantil .nivel_ensino_title {
    font-size: 27px;
    color: #002D4E;
    text-align: center;
}

.ensino_infantil .nivel_ensino_title .title_infantil {
    margin-bottom: 20px;
}

.ensino_infantil .nivel_ensino_title .title_infantil h1 {
    font-family: 'adelle_sans', sans-serif;
    font-style: italic;
    font-weight: 900;
    line-height: 50%;
}

.ensino_infantil .nivel_ensino_title .title_infantil h1 p{
    margin: 0;
    display: inline-block;
    font-size: 20px;
}

.ensino_infantil .nivel_ensino_title .title_infantil h1 span {
    font-size: 32px;
    color: #012f4f;
    text-transform: uppercase;
    display: block;
}

.ensino_infantil .nivel_ensino_title .img_infantil {
    margin: -20px 60px 0px 0px;
}

.ensino_infantil .nivel_ensino_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nivel_ensino_text {
    display: inline-grid;
    grid-template-areas: "div div";
    font-family: "Source Sans Pro";
    color: #3e3e3e;
    max-width: 768px;
}

.nivel_ensino_text .nivel_ensino_left {
    width: 100%;
    max-width: 650px;
    line-height: 24px;
}

.nivel_ensino_text .nivel_ensino_left p {
    font-size: 14px;
    line-height: 150%;
}

.nivel_ensino_text .nivel_ensino_right {
    margin-left: 30px;
}

.nivel_ensino_content .nivel_ensino_cards {
    display: flex;
    justify-content: flex-start;
    max-width: 768px;
}

.nivel_ensino_cards .card_number_one {
    background-color: lightblue;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid black;
}

.nivel_ensino_cards .card_number_two {
    background-color: lightgoldenrodyellow;
    padding: 15px;
    margin-left: 10px;
    border-radius: 15px;
    border: 1px solid black;
}

.nivel_ensino_cards .card_number_tree {
    background-color: lightpink;
    padding: 15px;
    margin-left: 10px;
    border-radius: 15px;
    border: 1px solid black;
}

.section_niveis .nav_niveis {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0082CB;
    color: #fff;
    padding: 30px 60px 30px 70px;
}

.section_niveis .nav_niveis .niveis_title {
    margin-right: 50px;
}

.section_niveis .nav_niveis .niveis_title h1 {
    font-family: "adelle_sans", sans-serif;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}

.section_niveis .nav_niveis .niveis_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.section_niveis .nav_niveis .niveis_cards img {
    width: 100%;
    max-width: 300px;
}

.section_niveis .nav_niveis .niveis_cards .nivel_card_fundamental1 {
    cursor: pointer;
    padding: 5px;
}

.section_niveis .nav_niveis .niveis_cards .nivel_card_fundamental2 {
    cursor: pointer;
    padding: 5px;
}

.section_niveis .nav_niveis .niveis_cards .nivel_card_medio {
    cursor: pointer;
    padding: 5px;
}

.section_niveis .nav_niveis .niveis_cards .nivel_card_integral {
    cursor: pointer;
    padding: 5px;
}

.section_niveis .nav_niveis .niveis_cards h1 {
    font-family: 'adelle_sans', sans-serif;
    font-style: italic;
    font-weight: 900;
    line-height: 50%;
    margin-top: 0;
}

.section_niveis .nav_niveis .niveis_cards h1 span {
    font-size: 24px;
    text-transform: uppercase;
    display: block;
}

.section_niveis .nav_niveis .niveis_cards h1 p {
    display: inline-block;
    font-size: 18px;
    margin: 0;
}

.section_conexoes {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px 40px 0px;
}

.section_conexoes > .container {
    position: relative;
}

.section_conexoes .conexoes_title h1 {
    font-family: 'adelle_sans', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 36px;
    color: #002D4E;
    margin-bottom: 50px;
    text-align: center;
}

.section_conexoes .container .tns-outer {
    display: flex;
    justify-content: space-around;
}

.section_conexoes .tns-outer .bloco {
    max-height: 450px;
    max-width: 270px;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    margin: 5px;
}

.section_conexoes .container .tns-outer .bloco img {
    max-width: 270px;
    width: 100%;
}

.section_conexoes .container .tns-outer .bloco h1 {
    font-size: 24px;
    text-align: center;
    color: orange;
    font-weight: bold;
}













@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}















footer {
    width: 100%;
    min-height: 250px;
    background: blue;
    font-family: sans-serif;
    display: flex;
}

footer .boxs {
    width: 380px;
    min-height: 150px;
    padding: 20px;
}

footer .boxs:nth-child(4) {
    width: 400px;
}

.boxs h2 {
    color: #fff;
    margin-bottom: 20px;
}

.boxs ul li {
    margin: 10px 0px;
    list-style: none;
}

.boxs ul li a {
    color: #ddd;
    text-decoration: none;
}

.boxs ul li a:hover {
    color: #fff;
    text-shadow: 1px 1px 5px rgb(131, 131, 131);
}

.boxs p {
    color: #fff;
    text-align: justify;
}

.footer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: orange;
    padding: 0px 20px;
}

.footer h2 {
    color: #fff;
}

.footer h3 {
    color: #fff;
}

.footer h3 a {
    color: #fff;
    text-decoration: none;
}

.footer .sociais {
    display: flex;

}

.footer .social {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: blue;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: color .3s linear;
}

.footer .social a {
    color: #ddd;
    font-size: 1.5em;
}

.footer .social:hover {
    background: rgb(36, 36, 255);
}

.footer .social a:hover {
    color: #fff;
}


















@media (max-width: 950px) {

    footer {
        flex-direction: column;
    }

    footer .boxs {
        width: 100%;
        text-align: center;
    }

    footer .boxs:nth-child(4) {
        width: 100%;
    }

    .footer h3 {
        display: none;
    }
}